ALLOW_LOCAL_QA_RESET=false

LOCAL_QA_ADMIN_EMAIL=
LOCAL_QA_ADMIN_PASSWORD=

LOCAL_QA_DASHBOARD_VIEWER_EMAIL=
LOCAL_QA_DASHBOARD_VIEWER_PASSWORD=

LOCAL_QA_SUPPORT_MANAGER_EMAIL=
LOCAL_QA_SUPPORT_MANAGER_PASSWORD=

LOCAL_QA_SUPPORT_AGENT_EMAIL=
LOCAL_QA_SUPPORT_AGENT_PASSWORD=

LOCAL_QA_CLIENT_EMAIL=
LOCAL_QA_CLIENT_PASSWORD=
